.alert {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-md);
  font-size: var(--font-text2-size);
  line-height: var(--line-height-text2);
  font-weight: var(--weight-medium);
  color: var(--color-white);
}

.alert-success { 
    background: var(--color-success-default); 
}

.alert-warning { 
    background: var(--color-warning-default); 
    color: var(--color-black); 
}

.alert-destructive { 
    background: var(--color-destructive-default); 
}

.alert-info { 
    background: var(--color-tertiary-default); 
}

/* 🔁 Largura total */
.alert-full {
  width: 100%;
}
