.form-controls-preview {
    border-top: 1px solid var(--color-gray-200);
    padding-top: var(--space-6);
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.form-controls-preview-title {
    font-size: var(--font-base);
    font-weight: var(--weight-medium);

    text-transform: capitalize;
}

.form-controls-preview-demo {
    padding: var(--space-6);
    border: 1px dashed var(--color-gray-300);
    border-radius: var(--radius-md);
    color: var(--color-gray-500);
    text-align: center;
}
