/* Design Tokens - Button */
:root {
    /* Sizes */

    /* Extra small */
    --btn-width-xs: var(--control-width-xs);
    --btn-height-xs: var(--control-height-xs);

    /* Small */
    --btn-width-sm: var(--control-width-sm);
    --btn-height-sm: var(--control-height-sm);

    /* Medium */
    --btn-width-md: var(--control-width-md);
    --btn-height-md: var(--control-height-md);

    /* Large */
    --btn-width-lg: var(--control-width-lg);
    --btn-height-lg: var(--control-height-lg);

    /* Extra large */
    --btn-width-xl: var(--control-width-xl);
    --btn-height-xl: var(--control-height-xl);

    /* Full */
    --btn-width-full: var(--control-width-full);
    --btn-height-full: var(--control-height-full);

    /* Border */
    --btn-radius: var(--control-radius-md);

    /* Focus */
    --btn-focus-ring-color: var(--color-primary-800);
    --btn-focus-ring-offset: 0.125rem;

    /* Colors */
    --btn-bg: var(--color-primary-500);
    --btn-bg-hover: var(--int-primary-hover);
    --btn-bg-active: var(--int-primary-active);
    --btn-text: var(--color-white);
    --btn-hover-text: var(--color-white);
    --btn-border: transparent;

    /* --- Estados --- */
    --btn-disabled-bg: var(--control-disabled-bg);
    --btn-disabled-text: var(--control-disabled-text);

    --btn-current-color: var(--color-primary-500);
}
