/* Design Tokens - Input */
:root {
    --input-border: var(--border-default);
    --input-radius: var(--radius-md);

    --input-placeholder-color: var(--text-muted);

    --input-focus-ring-offset: 0.125rem;
    --input-focus-ring-color: var(--color-primary-400);
    --input-border-error: var(--color-destructive-500);
}
