:root {
    /* Layout */
    --sidebar-width-expanded: 16.25rem;
    --sidebar-width-collapsed: 4rem;
    --sidebar-padding: var(--space-2);

    /* Items */
    /* Items - Sizes */

    /* Extra small */
    --sidebar-item-width-xs: var(--control-width-xs);
    --sidebar-item-height-xs: var(--control-height-xs);

    /* Small */
    --sidebar-item-width-sm: var(--control-width-sm);
    --sidebar-item-height-sm: var(--control-height-sm);

    /* Medium */
    --sidebar-item-width-md: var(--control-width-md);
    --sidebar-item-height-md: var(--control-height-md);

    /* Large */
    --sidebar-item-width-lg: var(--control-width-lg);
    --sidebar-item-height-lg: var(--control-height-lg);

    /* Extra large */
    --sidebar-item-width-xl: var(--control-width-xl);
    --sidebar-item-height-xl: var(--control-height-xl);

    /* Full */
    --sidebar-item-width-full: var(--control-width-full);
    --sidebar-item-height-full: var(--control-height-full);

    /* Shape */
    --sidebar-item-radius: var(--radius-md);

    /* Colors */
    --sidebar-bg: var(--color-secondary-900);
    --sidebar-border: var(--color-secondary-700);
    --sidebar-text: var(--color-gray-100);

    /* States */
    --sidebar-item-hover-bg: var(--color-secondary-800);
    --sidebar-item-active-bg: var(--color-primary-600);
    --sidebar-item-active-text: var(--color-white);

    /* Typography */
    --sidebar-font-size: var(--font-sm);
    --sidebar-font-weight: var(--weight-medium);
}
