.alert {
  display: flex;
  align-items: center;
  gap: var(--space-2);

  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-md);

  font-size: var(--font-text2-size);
  line-height: var(--line-height-text2);
  font-weight: var(--weight-medium);
  color: var(--color-white);
}

/* ----- VARIANTES (geradas por getComponentColor) ----- */

.alert-primary {
  background-color: var(--color-primary-500);
}
.alert-secondary {
  background-color: var(--color-secondary-500);
}
.alert-success {
  background-color: var(--color-success-500);
}
.alert-warning {
  background-color: var(--color-warning-500);
  color: var(--color-black);
}
.alert-destructive {
  background-color: var(--color-destructive-500);
}
.alert-info {
  background-color: var(--color-tertiary-500);
  color: var(--color-white);
}

/* ----- ELEMENTOS DE CONTEÚDO ----- */

/* O container do AlertContent para conteúdo estruturado */
.alert-content-wrapper {
  /* Transforma o Alert de flex (padrão) para block quando há title/description */
  display: block;
}

/* Wrapper para o ícone e o título */
.alert-title-wrapper {
  display: flex;
  align-items: flex-start;
  gap: var(--space-2);
  margin-bottom: var(--space-0-5);
}

/* Container que envolve o título/mensagem principal, permitindo quebrar */
.alert-text-container {
  display: block;
  flex-grow: 1;
}

/* Ícone (Sempre presente, seja para alerta simples ou estruturado) */
.alert-icon {
  font-size: var(--font-text1-size);
  font-weight: var(--weight-semi-bold);
  flex-shrink: 0;
}

/* Título Customizado (Estruturado) */
.alert-title {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-text1-size);
  display: block;
}

/* Mensagem Padrão (Usado no modo simples e no Warning/Destructive sem title) */
.alert-message {
  font-size: var(--font-text2-size);
  font-weight: var(--weight-medium);
  opacity: 1;
  display: block;
}

/* Descrição (O texto abaixo do título) */
.alert-description {
  font-size: var(--font-text2-size);
  opacity: 0.9;
  margin-top: 0;
  margin-left: calc(var(--font-text1-size) + var(--space-2));
}

/* ----- SIZE ----- */
.alert-sm {
  padding: var(--space-2) var(--space-3);
  font-size: var(--font-text3-size);
}

.alert-lg {
  padding: var(--space-4) var(--space-5);
  font-size: var(--font-text1-size);
}

/* ----- FULL WIDTH ----- */
.alert-full {
  width: 100%;
}
