.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);
    padding: 0.25em 0.6em;
    border-radius: var(--radius-full);

    font-size: var(--font-text3-size);
    font-weight: var(--weight-medium);
    line-height: 1;

    background: var(--color-primary-500);
    color: var(--color-text-on-colored);

    white-space: nowrap;
    width: fit-content;
    flex-shrink: 0;

    border: 1px solid transparent;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.badge > svg {
    width: 0.75rem;
    height: 0.75rem;
    pointer-events: none;
}

/* 📏 Sizes */

/* SM */
.badge-sm {
    font-size: var(--font-text4-size);
    padding: 0.2em 0.5em;
}

/* LG */
.badge-lg {
    font-size: var(--font-text2-size);
    padding: 0.35em 0.75em;
}

.badge-secondary {
    background: var(--color-secondary-500);
    color: var(--color-text-on-colored);
}

.badge-success {
    background: var(--color-success-500);
    color: var(--color-text-on-colored);
}

.badge-destructive {
    background: var(--color-destructive-500);
    color: var(--color-white);
}

.badge-warning {
    background: var(--color-warning-500);
    color: var(--color-black);
}

.badge-outline {
    background: transparent;
    color: var(--color-text-default);
    border-color: var(--color-primary-500);
}

.badge-outline.badge-secondary {
    border-color: var(--color-secondary-500);
}

.badge-outline.badge-success {
    border-color: var(--color-success-500);
}

.badge-outline.badge-destructive {
    border-color: var(--color-destructive-500);
}

.badge-outline.badge-warning {
    border-color: var(--color-warning-500);
}

/* 🔁 Total Width */
.badge-full {
    width: 100%;
}
