.form-controls-article {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

.form-controls-article-title {
    font-size: var(--font-lg);
    font-weight: var(--weight-semibold);
}

.form-controls-article-description {
    color: var(--color-gray-600);
    font-size: var(--font-sm);
}

.form-controls-article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: var(--space-4);
}

.form-controls-article-card {
    padding: var(--space-4);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-gray-300);
    background: var(--color-gray-100);
    cursor: pointer;
    transition: background 0.2s ease;

    text-transform: capitalize;
}

.form-controls-article-card:hover {
    background: var(--color-gray-200);
    transform: translateY(-2px);
    cursor: pointer;
}
