/* ===========================
   🏷 TagInput Component
   =========================== */

/* ROOT & LABEL */
.taginput-root {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    width: 100%;
}

.taginput-full {
    width: 100%;
}

.taginput-root[data-disabled='true'] {
    opacity: 0.6;
    cursor: not-allowed;
}

.taginput-label {
    font-size: var(--font-xs);
    font-weight: var(--weight-medium);
    color: var(--color-gray-700);
    padding-left: var(--space-1);
}

/* Input Box Container */
.taginput-box {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
    align-items: center;

    padding: var(--space-1);

    border: 1px solid var(--color-gray-300);
    border-radius: var(--radius-md);
    background: var(--color-white);

    transition: border-color 0.2s, box-shadow 0.2s;
}

.taginput-box:focus-within {
    border-color: var(--color-primary-500);
    box-shadow: 0 0 0 2px var(--color-primary-200);
}

/* Sizes */
/* Small */
.taginput-box.taginput-sm {
    padding: var(--space-1);
    font-size: var(--font-xs);
}

/* Large */
.taginput-box.taginput-lg {
    padding: var(--space-2);
    font-size: var(--font-base);
}

.taginput-box .input-label-container {
    display: contents;
    flex: 1;
    min-width: 100px;
}

.taginput-box .input-label,
.taginput-box .input-error-message,
.taginput-box .input-label-container > br {
    display: none;
}

/* Input Field */
.taginput-input-field {
    border: none;
    background: transparent;
    padding: var(--space-1);
    box-shadow: none;

    flex: 1;
    min-width: 100px;

    font-size: var(--font-sm);
    color: var(--color-text-default);
}

.taginput-input-field:focus {
    outline: none;
    box-shadow: none;
}

.taginput-input-field::placeholder {
    color: var(--color-gray-500);
}
